@charset "ISO-8859-1";
@import url(https://db.onlinewebfonts.com/c/74613e9d0612d09be09dd6de7c898d50?family=Modern+Era);
@import url(https://fonts.google.com/noto/specimen/Noto+Serif);

* {
    margin: 0;
    padding: 0;
    font-family: 'Modern Era', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: white;
}

.homeLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 45%;
}

.homepage {
    margin-top: -15px;
    /*background-color: rgba(222, 156, 238, .25);*/
}

.home {
    margin: 0;
    padding: 0;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(222, 156, 238, .25);*/
}


.links {
    text-align: center;
    margin-top: -25px;
}

.links a {
	display: block;
    margin-inline: 10px;
	margin-bottom: 25px; /* Increased spacing between links */
    font-size: 28px; /* Increased font size */
    font-weight: bold;
	color: #333;
	text-decoration: none;
	padding: 15px 30px; /* Increased padding for wider links */
    border-radius: 15px; /* Increased border-radius for rounded corners */
    background-color: #f7f7f7;
	transition: background-color 0.3s ease;
	width: 250px; /* Increased width of the links */
    box-sizing: border-box; /* Include padding in width calculation */
}

.links a:hover {
    background-color: #ccc;
}

#crBTN {
    width: 520px;
}

.centered {
    padding: 20px;
    text-align: center;
    font-size: 28px;
    background-color: rgba(222, 156, 238, .1);
}

.projectTitle {
    padding: 20px;
    text-align: center;
    font-size: 28px;
}

.recentUl, .funderProjectUL {
    min-width: 100%;
    max-width: 100%;
    list-style-type: none;
    overflow: hidden;
    /*background-color: rgba(222, 156, 238, .1);*/
}

.recentLi, .funderProjectLI {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*background-color: rgba(222, 156, 238, .1);*/
}



.recentLi, .recentUl {
    width: 30%;
}

.header {
    background: #E10054;
    padding: 10px;
    min-width: 100%;
    height: 50px;
}

.headerUl {
    list-style-type: none;
    background: #E10054;
    text-align: center;
    color: white;
}

.headerLi {
    float: left;
    padding: 14px 16px;
    color: white;
}

#usernameLi, #logoutLi {
    float: right;
}

.headerA {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.scrollable-area {
    width: 500px;
    height: 200px;
    overflow-y: auto; /* This enables vertical scrolling */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #DE9CEE;
}

.quickAccess {
    text-align: left;
}

.csvTable {
	border: 1px solid;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	padding: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.downloadBtn {
	position: absolute;
	top: 10px;
	right: 10px;
}

.createBTNs {
    margin-left: 35%;
}
.createBTNs button {
    height: 50px;
    font-size: 15PX;
    padding: 10px;
}

.addEnt, .crProj, .crSubproj {
    display: none;
    margin-left: 3px;
}

#addEntity {
	margin: 10px;
	border-color: #E10054;
	border-radius: 20px;
	border-style: solid;
	padding: 10px;
}

.queries {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.query {
    margin-bottom: 20px;
}

.dateInput {
    width: 150px;
}

.queryButton {
    background-color: #E10054;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.queryButton:hover {
    background-color: #782434;
}

.reportGeneration {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.reportGeneration p {
    margin: 0;
}
